html {
    overflow-x: hidden;
}

body {
    background: #BDBDBD;
}


/* Styling for services.html */
#img-services {
    border-radius: 75%;
}

#service-bg {
    background-color: white;
}
/*---------------------------*/