<!-- your html code here -->
<div class="container-fluid mx-auto my-5 w-75">
    <h1>Contact</h1>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id igula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    <form class="container-fluid border mx-auto my-5 w-75">
          <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Your E-mail</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3">
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Your Message</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
            </div>
         </div>
           <!--SubmitButton-->
           <div class="container d-flex justify-context-end">
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
    </form>
</div>
