<Div class="conatiner d-flex">
    <div class="justify-content-center">
        <div>
            <!--Header-->
            <h2><span>This First Heading</span> <span class="text-secondary">Catch Your Eye</span></h2>
        </div>
            <!--Paragraph-->
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
            numquam blanditiis harum quisquam eius sed Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
            numquam blanditiis harum quisquam eius sed
        </div>

    </div>
    
    <!--Image-->
    <div>
        <img class="rounded-circle" src="https://github.com/4GeeksAcademy/pt59-exercise-collaborative-html-website/blob/master/website/assets/img/1.jpg?raw=true"
        width="300" height="300">
    </div>
    
</Div>