<!-- your html code here -->
<h1>Portfolio</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor consequatur quos voluptates aspernatur laboriosam nihil! Commodi suscipit ullam cum nesciunt maxime quam atque molestias, incidunt quo magni saepe. Reiciendis, officia.</p>

<div class="3-cards">
    <!--  -->
<div class="card portfolio-card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>