<!-- your html code here -->
<section id="service-bg">
    <hr />
    <div class="container-fluid d-flex">
        <div class="col-md-3">
            <img id="img-services" src="/website/assets/img/2.jpg" width="200" height="200">
        </div>
        <div class="col-md-9">
            <h3>The Second Heading <span style="color: grey;">is pretty cool</span></h3>      
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, minus rem architecto alias possimus debitis vero cupiditate 
                nesciunt omnis minima laborum delectus distinctio cum similique doloribus quos iusto sed dicta.</p>
        </div>
    </div>
    <hr />
</section>