<!-- your html code here -->
<!-- added Changes by Nicholas Duenas-->
<hr>
<section id="service-bg" class="">
    
    <div class="container-fluid d-flex gap-3">
        <div class="col-md-3">
            <img id="img-services" src="/website/assets/img/2.jpg" width="200" height="200">
        </div>
        <div class="col-md-8">
            <h3>The Second Heading <span style="color: grey;">is pretty cool too.</span></h3>      
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, minus rem architecto alias possimus debitis vero cupiditate 
                nesciunt omnis minima. </p>
        </div>
    </div>
    
</section>
<hr>
<!-- added Changes by Nicholas Duenas-->